



<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="exemple-icon"></button>
    <mat-icon class="mat-18">menu</mat-icon>
    <mat-icon class="mat-18">close</mat-icon>
    <span>My Application</span>
  </mat-toolbar>
</p>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img class="avatar mat-elavation-z8" src="" alt="">
    <h4 class="name">Let's Program</h4>
    <mat-divider></mat-divider>
    <button  mat-button class="menu-button">
      <mat-icon>event_note</mat-icon>
      <span>dwdwdw</span>
  </button>
  </mat-sidenav>
</mat-sidenav-container>
